// DESIGNED DESKTOP FIRST

// Entire navbar
.navbar {
  display: flex;
  width: 100vw;
  min-height: 10vh;
  background-color: transparent;
  // border-bottom: 1px solid rgba(154, 154, 152, 0.6);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.tab a:hover {
 color: rgb(196, 194, 194);
 cursor: pointer;
}

// Logo

.logo-image {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}


// Toggled Menu desktop

.toggled-menu {
  height: inherit;
}

.mobile-nav-toggle-icon {
  display: none;
}

// All link section
.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// individual links
.nav-item{
  margin-inline: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.nav-item a {
  color:rgb(246, 245, 242);
}

// Profile toggle

.avatar-block {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-items {
  // display: none;
  position: absolute;
  // background: pink;
  width: 150px;
  height: auto;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: -70px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.dropdown li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.dropdown li:hover {
  background-color: rgb(121, 39, 74);
}

.dropdown button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);

}

// Media queries

@media only screen and (max-width: 768px) {

  // Primary navigation propreties

  .menu-items {
    position: fixed;
    inset: 0 0 0 34%;
    background: rgb(210, 50, 124);
    flex-direction: column;
    padding: 4rem 0.5rem 4rem 3rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    overflow: scroll;
  }

  @supports (backdrop-filter: blur(1rem)){
    .menu-items {
      background: rgba(231, 79, 150, 0.543);
      backdrop-filter: blur(1rem);
    }
  }

  .visible {
    transform: translateX(0%);
  }

  .nav-item {
    padding: 2rem 0;
  }

  // menu icon

  .mobile-nav-toggle-icon {
    display: block;
    position: relative;
    background: transparent;
    color: rgb(246, 245, 242);
    font-size: 1.5rem;
    border: none;
    width: 1rem;
    aspect-ratio: 1/1;
    // top: 1rem;
    right: 1rem;
    z-index: 100;
    margin: 1rem;
  }

}
