.navbar {
  display: flex;
  width: 100vw;
  background-color: pink;
  border-bottom: 1px solid rgba(154, 154, 152, 0.6);
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.nav-item{
  margin-inline: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.nav-item a {
  color:rgb(246, 245, 242);
}
.avatar {
  border-radius: 50%;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}


@media only screen and (max-width: 768px) {
  .menu-items {
    position: fixed;
    inset: 0 0 0 34%;
    background: rgb(210, 50, 124);
    flex-direction: column;
    padding: 4rem 0.5rem 4rem 3rem;

  }

  @supports (backdrop-filter: blur(1rem)){
    .menu-items {
      background: rgba(231, 79, 150, 0.543);
      backdrop-filter: blur(1rem);
    }
  }
  // menu icon

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: transparent;
    color: rgb(246, 245, 242);
    font-size: 2rem;
    font-weight: light;
    border: none;
    width: 1rem;
    aspect-ratio: 1/1;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    margin: 1rem;
  }

}
